.h1 {
	text-align:center;
	background-image: url("mika.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	font-family: impact;
	color:white;
	outline-style: stripe;
	outline-color: black;
	text-shadow: -4px -4px 0 black,
				  4px -4px 0 black,
				 -4px  4px 0 black,
				  4px  4px 0 black;
	letter-spacing: 3px;
	min-height:230px;
	display:block;
	margin: 0 auto;
	line-height: 230px;
	font-size: 80px;
	background-position:center;
	
}
.p1 {
	text-align: center;
	
}
.navbutton {
	text-align: center;
	color:white;
	background:green;
	padding:20px 30px;
	border-radius:8px;
	transition-duration:0.4s;
	border: 2px solid green;
	font-size: 24px;
	-webkit-transition-duration:0.4s; /* Safari */
}
.active {
	text-align:center;
	color:white;
	background-color:red;
	padding: 20px 30px;
	border-radius:8px;
	border:2px solid red;
	font-size:24px;
	transition-duration:0.4s;
	-webkit-transition-duration:0.4s; /* Safari */
}
nav {
	text-align: center;
	background-color: green;
}
.navbutton:hover{
	background-color:white;
	color:black;
	cursor:pointer;
}
.active:hover{
	background-color:black;
	color:white;
	cursor:not-allowed;
}
.navbutton:active {
	background-color:white;
	color:black;
	transform:translateY(4px);
}
h2 {
	font-size:48px;
	text-align: left;
}
.banner {
	margin: 0 160px 0 160px;
	padding: 0 0 0 0;
	border:none;
}
.content {
	margin: auto 300px;
}
html {
	padding: 0;
	margin: 0;
	border: none;
	font-size: 100%;
}
#videobig {
	text-align: inherit;
	padding-bottom:40px;
}
.videosmall {
	text-align:inherit;
}
div {
	text-align:center;
}